<head>
<style type="text/css">
.profile {
    font-size: 10px;
	font-weight: bold;
    font-family: Arial;
	color: #AAAAAA;
	text-align: left;
}
.menutable {
	border-collapse: collapse; 
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	margin: 5px;
}
.menuheader {
	background-color: #C0C0C0;
    font-size: 12px;
	font-weight: bold;
    font-family: Arial;
	color: #FFFFFF;
	text-align: left;
	border-style: none;
}
.menuicon {
	background-color: #FFFFFF;
	text-align: center;
	width: 42px;
	border-style: none;
}
.menuitem {
    font-size: 11px;
	font-weight: bold;
    font-family: Arial;
	text-decoration: none;
	color: #666666;
	background-color: #FFFFFF;	
	text-align: left;
	border-style: none;
}
.menulink {
    font-size: 11px;
	font-weight: bold;
    font-family: Arial;
	text-decoration: none;
	color: #666666;
	background-color: #FFFFFF;	
	text-align: left;
	border-style: none;
}
.eventstable {
	border-collapse: collapse; 
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	margin: 5px;
}
.eventicon {
	background-color: #FFFFFF;
	text-align: center;
	width: 42px;
	border-style: none;
}
.eventitem {
    font-size: 12px;
	font-weight: bold;
    font-family: Arial;
	text-decoration: none;
	color: #666666;
	background-color: #FFFFFF;	
	text-align: left;
	border-style: none;
}
.topmenulink {
    font-size: 11px;
	font-weight: bold;
    font-family: Arial;
	text-decoration: none;
	color: #F3F3F3;
	text-align: left;
	border-style: none;
}
</style>