AuthType Basic
AuthName PROTECTED
AuthMySQLEnable on
AuthMySQLHost 127.0.0.1
AuthMySQLUser rim_user
AuthMySQLPassword r1m_u5er
AuthMySQLDB axon_rim
AuthMySQLUserTable "user_master, rim_group_feature, rim_user_group"
AuthMySQLNameField user_master.username
AuthMySQLPasswordField  user_master.password
AuthMySQLPwEncryption none
AuthMySQLUserCondition  "user_master.account_status='Active' and rim_group_feature.group_id=rim_user_group.group_id and rim_user_group.username=user_master.username and (rim_group_feature.feature_id='33' or rim_group_feature.feature_id='42' or rim_group_feature.feature_id='46')"
require valid-user